* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nutrition-label {
    border: 2px solid #111111;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
}

header h1 {
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px;
}

p {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.divider {
    border-bottom: 1px solid #111111;
    margin: 2px 0;
}

.large,
.medium {
    background-color: #111111;
}

.large {
    height: 10px;
}

.medium {
    height: 5px;
}

.bold {
    font-weight: 800;
}

.small-text {
    font-size: 0.85rem;
}